/* Vue d'ensemble */
body {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  align-content: space-around;
  gap: 1rem;

  background-color: rgb(254, 254, 254);
  border: 3px solid rgb(190, 186, 186);
  border-radius: 5px;
  padding: 1%;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Le header et le footer */
header, footer {
  background-color: rgb(82, 65, 76);
  position: sticky; /* fixe mais ne cache pas le reste */
  font-size: 1rem;
  grid-column-start: 1;
  grid-column-end: -1;
}

header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

header p, footer p {
  color: white;
  text-align: center;
  font-size: xx-large;
}

/* La mise en forme commune  */
article, main, aside {
  border: 2px solid rgb(81, 57, 146);
  border-radius: 5px;
}

/* Le aside à gauche contenant les photos  */
aside {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 0.5rem;
  justify-content: space-around;
  padding: 1rem;
  overflow: auto;
}

aside h1, #dblCol {
  grid-column-end: -1;
  grid-column-start: 1;
}

#dblCol {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  text-align: left;
}


/* Le main contenant le poster pêle-mêle */
#poster {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  justify-content: space-around;
  padding: 1em;
}

/* les cadres pour déposer les photos */
.depot {
  width: 100px;
  height: 100px;
  border: 1px dashed red;
  margin: 1rem;
}

/* pour centrer le message zone qui est stocké dans l'attribut alt des images */
[alt^="zone"] {
  text-align: center;
}

/* Repérer les div ou les images sélectionnées */
.selected {
  border: 2px solid red;
}

/* Les textes */
h1 {
  text-align: center;
}

article p {
  text-align: justify;
}

article > * {
  margin: 1rem;
}

.champ {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

/* Le reste */
article button, aside button, #color {
  display: flex;
  margin: auto;
  justify-content: center;
}

aside button {
  margin-top: 1rem;
}

/* Autoriser le redimensionnement des images
Ne fonctionne pas pour l'instant car il faut mettre l'image dans une div. 
Je cherche une meilleure solution.  */
resizable {
  resize: both;
  overflow: hidden; /* l'image ne peut pas déborder */
}
